*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://i.pinimg.com/originals/e5/8a/e5/e58ae5ca3f368c6e490602a511c05ed2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#clockContainer{
    display: flex;
    position: relative;
    margin: 10vh auto;
    height: 30vw; /*30*/
    width: 30vw;  /*30*/
    /* border: 2px solid black; */
    background-image: url(/Moving-Clocks/clock.png);
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt1RViog1vV_ldFl90OcF8wYvzJ32y5dUwen2ZBt0lJozfKzGgxpQojK_XkdEOQnFnTk0&usqp=CAU");*/
    /* background-image: url("https://www.vhv.rs/dpng/d/441-4417880_clock-face-png-transparent-png-download-clipart-cartoon.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 255, 234);
}
#hour,#minute,#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    
}
#hour{
    top: 20%;
    left: 49.3%;
    height: 28%;
    width: 1.5%;
    transform-origin: bottom;
    background-color: black;
}
#minute{
    top: 18%;
    left: 49.6%;
    height: 31%;
    width: 1%;
    transform-origin: bottom;
    background-color: black;
}
#second{
    top: 15%;
    left: 49.9%;
    height: 35%;
    width: 0.5%;
    transform-origin: bottom;
    background-color: black;
}
p{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: aquamarine;
    
}
@media(max-width:600px){
    p {
        font-size: 25px;
    }
}
.dot {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 47%;
    left: 48%;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }
<!--Changes-->
p{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: aquamarine;
    
}
@media(max-width: 900px){
    p {
        font-size: 25px;
    }
}
.dot {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 47%;
    left: 48%;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }
#left{
    position: absolute;
    left: 8%;
    top: 25%;
    font-size: 1.7rem;
    font-weight: bolder;
    color: rgb(38, 209, 152);
}
#right{
    position: absolute;
    left: 68%;
    top: 25%;
    font-size: 1.7rem;
    font-weight: bolder;
    color: rgb(38, 209, 152);
}
@media(max-width: 1200px){
    #left,#right{
        font-size: 1.2rem;
        top:22%;
    }
    #left{
        left: 6%;
    }
}
@media(max-width: 900px){
    #left,#right{
        font-size: 01rem;
    }
}
@media(max-width: 1300px){
    .dot{
        top: 45%;
        left: 48%;
    }
}
@media(max-width: 1000px){
    .dot{
        
        left: 50%;
    }
}
@media(max-width: 1300px){
    .dot{
        width: 15px;
        height: 15px;
        left: 45.5%;
    }
}
@media(max-width: 740px){
    #left,#right{
        font: 1em sans-serif;
        top: 17%;
        font-size: 0.8em;
    }
    #left{
        left: 4%;
    }
    .dot{
        width: 13px;
        height: 13px;
    }
}
@media(max-width: 540px){
    #left,#right{
        font: 0.7em sans-serif;
        width: min-content;
        top: 15%;
    }
    #left{
        left: 22%
    }
    #right{
        left: 67%;
    }
@media(max-width: 400px){
    #left,#right{
        top: 13%;
    }
}

    
}
